body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.utility-web-footer{
  margin-top: 1rem;
  padding: 0.1rem;
  background-color: #46474e;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #92929c;
}

a:link {
  text-decoration: none;
  cursor: pointer;
  color: #b8c2ca
}

a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #b8c2ca
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #b8c2ca
}

a:active {
  text-decoration: underline;
  cursor: pointer;
  color: #b8c2ca
}